.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: .25rem;
}

p {
  padding-left: 1rem;
}

img {
  max-width: 400px;
  padding: 20px;
}